/* Goole Fonts API.
*
* A FAIRE : Importer la police et utiliser @font-face pour optimiser le télechargement
*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600);
@import url(http://fonts.googleapis.com/css?family=Amita:400,700);
/* Variables */
/* Mixins */
/* Trick. A utiliser dans :after pour supprimer la flotaison */
/* Cache une élément */
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-user-select: none;
  outline: none;
}
body {
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans serif;
  font-size: 14px;
  color: #000000;
}
a,
a:hover,
a:active,
a:visited,
a:link {
  text-decoration: none;
  outline: none;
  color: #0099cc;
}
h1,
h2,
h3,
h4 {
  line-height: initial;
  margin: 0;
}
h1 {
  font-size: 18px;
  padding: 0;
}
ul {
  margin: 0;
}
ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}
img {
  vertical-align: middle;
}
/* Formulaires */
::-webkit-input-placeholder {
  color: #dcdcdc;
}
::-moz-placeholder {
  color: #dcdcdc;
  opacity: 1;
}
:-ms-input-placeholder {
  color: #dcdcdc;
}
form {
  display: block;
  width: auto;
  margin: 0;
}
input,
select {
  display: block;
  background-color: transparent;
  width: 100%;
  margin-bottom: 15px;
  border: none;
  border-bottom: solid 1px #dcdcdc;
  line-height: 22px;
  padding: 7px;
  font-size: 14px;
  color: deeppink;
  transition: border-color 0.1s linear;
  -webkit-transition: border-color 0.1s linear;
  -moz-transition: border-color 0.1s linear;
}
input:focus,
select:focus {
  border-color: deepskyblue;
}
input .default,
select .default {
  color: whitesmoke !important;
}
select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
textarea {
  display: block;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans serif;
  font-size: 14px;
  line-height: 22px;
  color: #000000;
  border: solid 1px whitesmoke;
  transition: border-color 0.1s linear;
  -webkit-transition: border-color 0.1s linear;
  -moz-transition: border-color 0.1s linear;
}
textarea:focus {
  border-color: #99e5ff;
}
/* header */
.main-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  width: 100%;
  padding: 0;
  background-color: deepskyblue;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}
/* Menu principal */
.menu {
  width: 100%;
  max-width: 720px;
  margin: auto;
  padding: 0;
}
.menu li {
  display: block;
  float: left;
  width: calc(100%/3);
  text-align: center;
  border-bottom: solid 3px transparent;
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  /* Menu activé */
  /* Nom de l'application */
}
.menu li a {
  display: block;
  padding: 10px;
  color: #fff;
}
.menu li a img {
  width: 20px;
  height: 20px;
}
.menu li.active {
  border-bottom-color: #fff;
}
.menu li.brand {
  display: block;
  float: none;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  color: #fff;
  padding: 10px;
}
.menu:after {
  display: block;
  float: none;
  clear: both;
  height: 0;
  content: "";
  visibility: hidden;
}
/* Content */
.content {
  padding-top: 100px;
  max-width: 720px;
  margin: auto;
}
/* Home */
.home {
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: deepskyblue;
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
}
.home .connexion {
  position: fixed;
  top: 25%;
  left: 30%;
  right: 30%;
  width: 40%;
  margin: 0 auto;
  padding: 3%;
  background-color: #fff;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.05);
}
@media all and (max-width: 640px) {
  .home .connexion {
    width: 80%;
    left: 10%;
    right: 10%;
  }
}
.home .connexion:after {
  display: block;
  float: none;
  clear: both;
  height: 0;
  content: "";
  visibility: hidden;
}
.home .connexion h1 {
  display: inline-block;
  display: none;
  color: #fff;
  background-color: deepskyblue;
  margin-bottom: 5%;
  padding: 10px 20px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  -moz-text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}
.home .connexion input {
  font-size: 16px;
}
.home .connexion .btn {
  float: right;
  background-color: deeppink;
  border: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}
.home .brand {
  position: absolute;
  z-index: 1;
  left: 0;
  bottom: 0;
  color: #fff;
}
.home .brand h1 {
  font-size: 24px;
  padding: 10%;
}
/* page de démarrage */
.demarrage {
  width: auto;
  height: 400px;
  padding: 20px;
  text-align: center;
}
.demarrage h1 {
  display: inline-block;
  position: relative;
  top: 40%;
  font-family: 'amita';
  font-size: 38px;
  color: deeppink;
  line-height: normal;
  margin: 0;
  padding: 0;
  transform: transalteY(-50%);
  -webkit-transform: transalteY(-50%);
  -moz-transform: transalteY(-50%);
  text-shadow: -2px 2px 2px #ffffff, 2px -2px 2px #ffffff;
}
@media all and (max-width: 480px) {
  .demarrage h1 {
    top: 10%;
  }
}
.demarrage h1 a {
  display: inline-block;
  color: deepskyblue;
  transition: all linear 0.2s;
  -webkit-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
}
.demarrage h1 a:hover {
  transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
}
/* list-menu : filtre une liste */
.list-menu {
  overflow: hidden;
  width: 98%;
  margin: auto;
  padding: 0;
  background-color: #fff;
  border: solid 1px #dcdcdc;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
}
.list-menu li {
  display: block;
  float: left;
  width: calc(100%/3);
  text-align: center;
}
.list-menu li:nth-child(2) {
  border-left: solid 1px #dcdcdc;
  border-right: solid 1px #dcdcdc;
}
.list-menu li.active,
.list-menu li :active {
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.05);
}
.list-menu li a {
  display: block;
  padding: 10px;
  vertical-align: middle;
}
.list-menu li a img {
  width: 20px;
  height: 20px;
}
.list-menu:after {
  display: block;
  float: none;
  clear: both;
  height: 0;
  content: "";
  visibility: hidden;
}
/* Liste des RDV */
.list-rdv {
  margin: 0;
  padding: 0;
  width: 100%;
  /* Regroupement par date */
}
.list-rdv li {
  display: block;
  list-style: none;
  margin: auto;
  margin-bottom: 1%;
  width: calc(100% - 2%);
}
.list-rdv li:after {
  display: block;
  float: none;
  clear: both;
  height: 0;
  content: "";
  visibility: hidden;
}
.list-rdv li .avatar {
  float: left;
  width: 50px;
  height: 50px;
  margin-top: 4%;
  margin-right: 2%;
  background-color: whitesmoke;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% auto;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
}
.list-rdv li a {
  display: block;
  float: right;
  width: calc(100% - 50px - 2%);
  background-color: #fff;
  border: solid 1px #e8e8e8;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.05);
  transition: all 0.1s linear;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
}
.list-rdv li a:active {
  transform: scale(1.03);
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
}
.list-rdv li a .header {
  padding: 15px;
  border-bottom: solid 1px whitesmoke;
}
.list-rdv li a .header .heure {
  float: left;
  width: 50%;
  vertical-align: middle;
  line-height: 20px;
}
.list-rdv li a .header .etat {
  float: right;
  width: 50%;
  text-align: right;
  vertical-align: middle;
  line-height: 20px;
  height: 20px;
}
.list-rdv li a .header .etat.false {
  background: url(../img/schedule-orange.svg) no-repeat center right;
}
.list-rdv li a .header .etat.true {
  background: url(../img/check-green.svg) no-repeat center right;
}
.list-rdv li a .header:after {
  display: block;
  float: none;
  clear: both;
  height: 0;
  content: "";
  visibility: hidden;
}
.list-rdv li a .content {
  padding: 15px;
}
.list-rdv li a .content .titre {
  margin: 0;
  color: deeppink;
}
.list-rdv li.date {
  margin-top: 15px;
  margin-bottom: 10px;
  padding: 7px;
  font-size: 18px;
  font-weight: bold;
  color: yellowgreen;
  border: none;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0.05);
}
/* detail-rdv */
.detail-rdv {
  overflow: hidden;
  background-color: white;
  width: calc(100% - 1.5%);
  margin: auto;
  margin-bottom: 10px;
  border: solid 1px #dcdcdc;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.05);
  /* Barre du statut et des détails du remboursement */
}
.detail-rdv .header {
  padding: 15px;
  font-size: 18px;
}
.detail-rdv .header:after {
  display: block;
  float: none;
  clear: both;
  height: 0;
  content: "";
  visibility: hidden;
}
.detail-rdv .header .avatar {
  width: 72px;
  height: 72px;
  float: left;
  margin-right: 3%;
  background-color: whitesmoke;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% auto;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
}
.detail-rdv .header .date,
.detail-rdv .header .heure {
  cursor: pointer;
}
.detail-rdv .header .date {
  float: left;
  width: 33%;
  line-height: 72px;
  vertical-align: middle;
}
.detail-rdv .header .heure {
  float: right;
  width: 33%;
  line-height: 72px;
  vertical-align: middle;
  text-align: right;
}
.detail-rdv .remboursement {
  margin-bottom: 15px;
  padding: 10px 15px;
  width: 100%;
  color: #fff;
  /* Affiché que si l'état est à false */
}
.detail-rdv .remboursement:after {
  display: block;
  float: none;
  clear: both;
  height: 0;
  content: "";
  visibility: hidden;
}
.detail-rdv .remboursement.false {
  background-color: #ffc04d;
  border-top: solid 1px #ffb733;
  border-bottom: solid 1px #ffb733;
}
.detail-rdv .remboursement.true {
  background-color: #b8dc70;
  border-top: solid 1px #aed75b;
  border-bottom: solid 1px #aed75b;
}
.detail-rdv .remboursement .date,
.detail-rdv .remboursement .etat,
.detail-rdv .remboursement .montant,
.detail-rdv .remboursement .message,
.detail-rdv .remboursement .contact {
  float: left;
  width: calc(100% / 3);
  text-align: center;
  line-height: 21px;
  vertical-align: middle;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.detail-rdv .remboursement .contact {
  text-align: right;
}
.detail-rdv .remboursement .contact a {
  display: block;
}
.detail-rdv .remboursement .contact a img {
  width: auto;
  height: 20px;
}
.detail-rdv .remboursement .etat {
  text-align: left;
}
.detail-rdv .remboursement .etat .true,
.detail-rdv .remboursement .etat .false {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
  width: 20px;
  height: 20px;
  vertical-align: middle;
}
.detail-rdv .remboursement .etat .true {
  background-image: url(../img/check-white.svg);
}
.detail-rdv .remboursement .etat .false {
  background-image: url(../img/schedule-white.svg);
}
.detail-rdv .remboursement .montant {
  text-align: right;
  font-weight: bold;
}
.detail-rdv .remboursement .message {
  text-align: center;
  font-weight: normal;
}
.detail-rdv .content {
  padding: 15px;
  padding-top: 0;
  /* Bouton de demande d'informations post rdv */
}
.detail-rdv .content .titre {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: normal;
  color: deeppink;
}
.detail-rdv .content .numero {
  margin-bottom: 10px;
}
.detail-rdv .content .adresse {
  margin-bottom: 15px;
}
.detail-rdv .content .telephone,
.detail-rdv .content .itineraire {
  display: inline-block;
  background-color: deepskyblue;
  background-image: url(../img/phone-white.svg);
  background-repeat: no-repeat;
  background-position: 10px center;
  background-size: 18px 18px;
  padding: 7px 15px;
  padding-left: 35px;
  font-size: 15px;
  color: #fff;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
}
.detail-rdv .content .itineraire {
  background-image: url(../img/map-white.svg);
  margin-left: 10px;
}
.detail-rdv .content .notes {
  margin: 0;
  margin-top: 15px;
  padding: 10px;
  text-align: justify;
  background-color: #f8f8f8;
  border-top: solid 2px #ffeb80;
}
.detail-rdv .content .notes h4 {
  margin-bottom: 5px;
}
.detail-rdv .content .notes textarea {
  height: 70px;
  background-color: transparent;
  border: none;
}
.detail-rdv .content .informations {
  margin-top: 15px;
}
.detail-rdv .content .informations .btn {
  font-weight: normal;
}
@media all and (max-width: 480px) {
  .detail-rdv .content .informations .btn {
    width: 100%;
  }
}
.detail-rdv .footer {
  padding: 15px 15px 15px 15px;
  padding: 0;
  background-color: whitesmoke;
  border-top: solid 1px #dcdcdc;
}
.detail-rdv .footer:after {
  display: block;
  float: none;
  clear: both;
  height: 0;
  content: "";
  visibility: hidden;
}
.detail-rdv .footer .btn {
  display: block;
  float: left;
  background-color: transparent;
  border: none;
  padding: 15px 0;
  width: calc(100% / 3);
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0.05);
  transition: background-color 0.1s linear;
  -webkit-transition: background-color 0.1s linear;
  -moz-transition: background-color 0.1s linear;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.detail-rdv .footer .btn:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
.detail-rdv .footer .btn:active {
  box-shadow: inset 2px 3px 3px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: inset 2px 3px 3px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 2px 3px 3px rgba(0, 0, 0, 0.05);
}
.detail-rdv .footer .btn:nth-child(1) {
  border-right: solid 1px #fff;
}
.detail-rdv .footer .btn:nth-child(2) {
  border-left: solid 1px #dcdcdc;
  border-right: solid 1px #fff;
}
.detail-rdv .footer .btn:nth-child(3) {
  border-left: solid 1px #dcdcdc;
}
/* create-rdv : formulaire de création d'un nouveau RDV */
.create-rdv {
  width: 96%;
  margin: auto;
  margin-bottom: 20px;
}
.create-rdv .content {
  padding: 0;
}
.create-rdv .content .pour,
.create-rdv .content .avec,
.create-rdv .content .date,
.create-rdv .content .notes,
.create-rdv .content .rappel {
  background-color: #fff;
  margin-bottom: 20px;
  padding: 15px;
  border: solid 1px #e8e8e8;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.05);
  /* Titre des cartes */
  /* Pavé choix du bénéficiaire */
  /* Pavé choix de la date */
  /* Pavé des notes */
  /* Pavé choix de l'heure du rappel */
}
.create-rdv .content .pour:after,
.create-rdv .content .avec:after,
.create-rdv .content .date:after,
.create-rdv .content .notes:after,
.create-rdv .content .rappel:after {
  display: block;
  float: none;
  clear: both;
  height: 0;
  content: "";
  visibility: hidden;
}
.create-rdv .content .pour .header,
.create-rdv .content .avec .header,
.create-rdv .content .date .header,
.create-rdv .content .notes .header,
.create-rdv .content .rappel .header {
  text-align: left;
  padding: 10px 0px;
  color: deeppink;
}
.create-rdv .content .pour .beneficiaires,
.create-rdv .content .avec .beneficiaires,
.create-rdv .content .date .beneficiaires,
.create-rdv .content .notes .beneficiaires,
.create-rdv .content .rappel .beneficiaires {
  padding: 0;
  margin: 0;
  text-align: center;
}
.create-rdv .content .pour .beneficiaires .avatar,
.create-rdv .content .avec .beneficiaires .avatar,
.create-rdv .content .date .beneficiaires .avatar,
.create-rdv .content .notes .beneficiaires .avatar,
.create-rdv .content .rappel .beneficiaires .avatar {
  display: inline-block;
  background-color: whitesmoke;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 60px;
  height: 60px;
  margin: 2%;
  cursor: pointer;
  border: solid 3px #fff;
  border-radius: 60px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
}
.create-rdv .content .pour .beneficiaires .avatar:hover,
.create-rdv .content .avec .beneficiaires .avatar:hover,
.create-rdv .content .date .beneficiaires .avatar:hover,
.create-rdv .content .notes .beneficiaires .avatar:hover,
.create-rdv .content .rappel .beneficiaires .avatar:hover {
  transform: scale(1.2) rotateY(180deg);
  -webkit-transform: scale(1.2) rotateY(180deg);
  -moz-transform: scale(1.2) rotateY(180deg);
}
.create-rdv .content .pour .beneficiaires .avatar:active,
.create-rdv .content .avec .beneficiaires .avatar:active,
.create-rdv .content .date .beneficiaires .avatar:active,
.create-rdv .content .notes .beneficiaires .avatar:active,
.create-rdv .content .rappel .beneficiaires .avatar:active,
.create-rdv .content .pour .beneficiaires .avatar.active,
.create-rdv .content .avec .beneficiaires .avatar.active,
.create-rdv .content .date .beneficiaires .avatar.active,
.create-rdv .content .notes .beneficiaires .avatar.active,
.create-rdv .content .rappel .beneficiaires .avatar.active {
  border-color: #b8dc70;
  transform: scale(1.2) rotateY(180deg);
  -webkit-transform: scale(1.2) rotateY(180deg);
  -moz-transform: scale(1.2) rotateY(180deg);
}
.create-rdv .content .pour label,
.create-rdv .content .avec label,
.create-rdv .content .date label,
.create-rdv .content .notes label,
.create-rdv .content .rappel label {
  display: block;
  width: 48%;
  float: left;
  background-color: #fafafa;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 15px;
  padding: 5px 15px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
}
@media all and (max-width: 480px) {
  .create-rdv .content .pour label,
  .create-rdv .content .avec label,
  .create-rdv .content .date label,
  .create-rdv .content .notes label,
  .create-rdv .content .rappel label {
    float: none;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
}
.create-rdv .content .pour label select,
.create-rdv .content .avec label select,
.create-rdv .content .date label select,
.create-rdv .content .notes label select,
.create-rdv .content .rappel label select {
  display: inline-block;
  float: none;
  width: auto;
}
.create-rdv .content .pour textarea,
.create-rdv .content .avec textarea,
.create-rdv .content .date textarea,
.create-rdv .content .notes textarea,
.create-rdv .content .rappel textarea {
  border: none;
  background-color: whitesmoke;
  min-height: 100px;
  padding: 10px;
}
.create-rdv .content .pour .delais,
.create-rdv .content .avec .delais,
.create-rdv .content .date .delais,
.create-rdv .content .notes .delais,
.create-rdv .content .rappel .delais {
  padding: 0;
  margin: 0;
  text-align: center;
}
.create-rdv .content .pour .delais li,
.create-rdv .content .avec .delais li,
.create-rdv .content .date .delais li,
.create-rdv .content .notes .delais li,
.create-rdv .content .rappel .delais li {
  display: inline-block;
  width: 45%;
  background-color: whitesmoke;
  overflow: hidden;
  margin: 1% 1.5%;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
}
.create-rdv .content .pour .delais li a,
.create-rdv .content .avec .delais li a,
.create-rdv .content .date .delais li a,
.create-rdv .content .notes .delais li a,
.create-rdv .content .rappel .delais li a {
  display: block;
  color: #a9a9a9;
  padding: 7px 15px;
}
.create-rdv .content .pour .delais li:hover,
.create-rdv .content .avec .delais li:hover,
.create-rdv .content .date .delais li:hover,
.create-rdv .content .notes .delais li:hover,
.create-rdv .content .rappel .delais li:hover,
.create-rdv .content .pour .delais li:active,
.create-rdv .content .avec .delais li:active,
.create-rdv .content .date .delais li:active,
.create-rdv .content .notes .delais li:active,
.create-rdv .content .rappel .delais li:active,
.create-rdv .content .pour .delais li.active,
.create-rdv .content .avec .delais li.active,
.create-rdv .content .date .delais li.active,
.create-rdv .content .notes .delais li.active,
.create-rdv .content .rappel .delais li.active {
  background-color: #b8dc70;
}
.create-rdv .content .pour .delais li:hover a,
.create-rdv .content .avec .delais li:hover a,
.create-rdv .content .date .delais li:hover a,
.create-rdv .content .notes .delais li:hover a,
.create-rdv .content .rappel .delais li:hover a,
.create-rdv .content .pour .delais li:active a,
.create-rdv .content .avec .delais li:active a,
.create-rdv .content .date .delais li:active a,
.create-rdv .content .notes .delais li:active a,
.create-rdv .content .rappel .delais li:active a,
.create-rdv .content .pour .delais li.active a,
.create-rdv .content .avec .delais li.active a,
.create-rdv .content .date .delais li.active a,
.create-rdv .content .notes .delais li.active a,
.create-rdv .content .rappel .delais li.active a {
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  -moz-text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}
.create-rdv .footer .btn {
  width: 100%;
  background-color: deeppink;
  border-color: deeppink;
  color: #fff;
  padding: 15px;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
}
/* search-ps : formulaire de recherche d'un PS/établissement '*/
.search-ps {
  overflow: hidden;
  background-color: white;
  width: calc(100% - 1.5%);
  margin: auto;
  margin-bottom: 10px;
  border: solid 1px #dcdcdc;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.05);
}
.search-ps .header {
  border-bottom: solid 1px whitesmoke;
  padding: 15px;
}
.search-ps .header .titre {
  font-weight: normal;
  color: deepskyblue;
}
.search-ps .content {
  padding: 15px;
  padding-bottom: 0;
  /* Plus d'options de recherche */
}
.search-ps .content .more-options {
  text-align: center;
}
.search-ps .content .more-options a {
  display: block;
}
.search-ps .footer {
  padding: 15px;
}
.search-ps .footer .btn {
  background-color: deeppink;
  color: #fff;
  border-color: deeppink;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}
/* Liste des PS */
.list-ps {
  padding: 0;
  width: calc(98.5%);
  margin: auto;
  margin-top: 20px;
}
.list-ps li {
  display: block;
  margin: auto;
  margin-bottom: 2%;
  width: 100%;
  float: right;
  background-color: #fff;
  border: solid 1px #dcdcdc;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.05);
  transition: all 0.1s linear;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  /* Nombre de résultats */
}
.list-ps li:after {
  display: block;
  float: none;
  clear: both;
  height: 0;
  content: "";
  visibility: hidden;
}
.list-ps li.results-infos {
  padding: 20px;
  color: deepskyblue;
}
.list-ps li .header {
  padding: 10px 15px;
  border-bottom: solid 1px whitesmoke;
}
.list-ps li .header:after {
  display: block;
  float: none;
  clear: both;
  height: 0;
  content: "";
  visibility: hidden;
}
.list-ps li .header .honoraires {
  display: block;
  float: left;
  width: 70%;
  line-height: 32px;
  vertical-align: middle;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.list-ps li .header .cv {
  float: right;
  width: 80px;
  vertical-align: middle;
  height: 32px;
}
.list-ps li .header .cv.false {
  background: url(../img/cv_gris.png) no-repeat center right;
}
.list-ps li .header .cv.true {
  background: url(../img/cv.png) no-repeat center right;
}
.list-ps li .content {
  padding: 15px;
  padding-top: 10px;
  color: #000000;
}
.list-ps li .content .nom {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 20px;
  color: deeppink;
}
.list-ps li .content .numero {
  margin-bottom: 10px;
  color: #a9a9a9;
}
.list-ps li .content .adresse {
  margin-bottom: 15px;
}
.list-ps li .content .telephone,
.list-ps li .content .itineraire {
  display: inline-block;
  background-color: deepskyblue;
  background-image: url(../img/phone-white.svg);
  background-repeat: no-repeat;
  background-position: 10px center;
  background-size: 18px 18px;
  padding: 7px 15px;
  padding-left: 35px;
  font-size: 15px;
  color: #fff;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
}
.list-ps li .content .itineraire {
  background-image: url(../img/map-white.svg);
  margin-left: 10px;
}
.list-ps li .content .maps {
  margin-top: 15px;
  background-color: whitesmoke;
  width: 100%;
  height: 150px;
}
.list-ps li .actions {
  padding: 15px 15px 15px 15px;
  padding: 0;
  background-color: whitesmoke;
  border-top: solid 1px #dcdcdc;
}
.list-ps li .actions:after {
  display: block;
  float: none;
  clear: both;
  height: 0;
  content: "";
  visibility: hidden;
}
.list-ps li .actions .btn {
  display: block;
  float: left;
  background-color: transparent;
  border: none;
  padding: 15px 0;
  width: calc(50%);
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0.05);
  transition: background-color 0.1s linear;
  -webkit-transition: background-color 0.1s linear;
  -moz-transition: background-color 0.1s linear;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.list-ps li .actions .btn:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
.list-ps li .actions .btn:active {
  box-shadow: inset 2px 3px 3px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: inset 2px 3px 3px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 2px 3px 3px rgba(0, 0, 0, 0.05);
}
.list-ps li .actions .btn:nth-child(1) {
  border-right: solid 1px #fff;
}
.list-ps li .actions .btn:nth-child(2) {
  border-left: solid 1px #dcdcdc;
}
/* contact : formulaire de contact */
.contact-mail {
  overflow: hidden;
  background-color: white;
  width: calc(100% - 1.5%);
  margin: auto;
  margin-bottom: 10px;
  border: solid 1px #dcdcdc;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.05);
}
.contact-mail .header {
  border-bottom: solid 1px whitesmoke;
  padding: 15px;
}
.contact-mail .header .titre {
  font-weight: normal;
  color: deepskyblue;
}
.contact-mail .content {
  padding: 15px;
  padding-bottom: 0;
}
.contact-mail .content .objet {
  margin-top: 5px;
  margin-bottom: 25px;
  border-bottom: solid 1px #dcdcdc;
  background-color: whitesmoke;
}
.contact-mail .content .objet span {
  display: inline-block;
  padding: 10px 20px;
  color: deeppink;
}
.contact-mail .content .reference,
.contact-mail .content .message {
  margin-bottom: 25px;
  border-bottom: solid 1px #dcdcdc;
}
.contact-mail .content .reference h4,
.contact-mail .content .message h4 {
  background-color: whitesmoke;
  border-bottom: solid 1px #dcdcdc;
  padding: 10px 20px;
  color: deeppink;
}
.contact-mail .content .reference {
  border-bottom: none;
}
.contact-mail .content .reference table {
  table-layout: fixed;
  margin: auto;
  width: 100%;
  border-spacing: 0;
  border-collapse: separate;
  border-bottom: solid 1px #dcdcdc;
}
.contact-mail .content .reference table tr {
  margin: 0;
  padding: 0;
}
.contact-mail .content .reference table tr:nth-child(even) {
  background-color: #fafafa;
}
.contact-mail .content .reference table tr td {
  border: none;
  margin: 0;
  padding: 10px;
  width: 50%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.contact-mail .content .message {
  margin-bottom: 0;
}
.contact-mail .content .message textarea {
  height: 150px;
  padding: 2%;
  border: none;
}
.contact-mail .footer {
  padding: 15px;
}
.contact-mail .footer .btn {
  background-color: deeppink;
  color: #fff;
  border-color: deeppink;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}
/* Settings */
.settings {
  background-color: white;
  padding: 0;
  margin-top: -12px;
}
.settings li {
  border-bottom: solid 1px whitesmoke;
}
.settings li:after {
  display: block;
  float: none;
  clear: both;
  height: 0;
  content: "";
  visibility: hidden;
}
.settings li:hover > *,
.settings li:active > * {
  background-color: #fdfdfd;
  color: deeppink;
}
.settings li a {
  display: block;
  padding: 6% 3%;
  vertical-align: middle;
}
.settings li label {
  display: block;
  width: 100%;
  padding: 6% 3%;
  /* trick */
  cursor: pointer;
  color: #0099cc;
}
.settings li label input {
  width: auto;
  float: right;
}
/* list-beneficiaires */
.list-beneficiaires {
  margin: 0;
  padding: 0;
}
.list-beneficiaires li {
  width: 98%;
  background-color: #fff;
  margin: auto;
  margin-bottom: 1%;
  padding: 20px;
  border: solid 1px #e8e8e8;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.05);
}
.list-beneficiaires li:after {
  display: block;
  float: none;
  clear: both;
  height: 0;
  content: "";
  visibility: hidden;
}
.list-beneficiaires li .avatar {
  float: left;
  margin: 0 auto;
  margin-right: 5%;
  height: 80px;
  width: 80px;
  background-color: #dcdcdc;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  cursor: pointer;
  border-radius: 70px;
  -webkit-border-radius: 70px;
  -moz-border-radius: 70px;
}
.list-beneficiaires li .header {
  margin: 0;
  padding-bottom: 10px;
}
.list-beneficiaires li .header .titre {
  margin: 0;
  color: deeppink;
}
.list-beneficiaires li .content {
  margin: 0;
  padding: 0;
}
.list-beneficiaires li .content .date,
.list-beneficiaires li .content .qualite {
  color: #434343;
  margin-bottom: 10px;
}
/* Tutoriel */
.tutoriel {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: deepskyblue;
  /*
    background-image: url(../img/background.jpg);
    background-repeat:no-repeat;
    background-position:center bottom;
    background-size:cover;
    */
  color: white;
  padding: 5%;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.05);
  /* La couleur de fond change à chaque étape */
}
.tutoriel.tutoriel.etape-1 {
  background-color: #e00079;
}
.tutoriel.tutoriel.etape-2 {
  background-color: #8bb92d;
}
.tutoriel.tutoriel.etape-3 {
  background-color: #9a0099;
}
.tutoriel.tutoriel.etape-4 {
  background-color: #e69500;
}
.tutoriel .panel {
  position: fixed;
  top: 20%;
  left: 15%;
  right: 15%;
  width: 70%;
  margin: 0 auto;
}
@media all and (max-width: 480px) {
  .tutoriel .panel {
    width: 90%;
    left: 5%;
    right: 5%;
  }
}
.tutoriel .panel h1 {
  font-size: 30px;
  margin-bottom: 10%;
  word-wrap: break-word;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  -moz-text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}
.tutoriel .panel p {
  font-size: 24px;
  line-height: 40px;
  margin-bottom: 10%;
  text-align: left;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  -moz-text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}
.tutoriel .panel div:after {
  display: block;
  float: none;
  clear: both;
  height: 0;
  content: "";
  visibility: hidden;
}
.tutoriel .panel div .btn {
  position: fixed;
  bottom: 5%;
  right: 5%;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  color: white;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0.05);
}
/* Popups */
.popup {
  position: fixed;
  z-index: 2;
  width: 30%;
  top: 25%;
  left: 35%;
  right: 35%;
  background-color: #fff;
  border: solid 2px #a9a9a9;
  overflow: hidden;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.05);
  /* Masque transparent */
  /* Styling */
}
@media all and (max-width: 640px) {
  .popup {
    width: 80%;
    left: 10%;
    right: 10%;
  }
}
.popup-masque {
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup .header {
  background-color: #a9a9a9;
  color: #fff;
  font-weight: bold;
  padding: 10px;
  position: relative;
  margin-right: -1px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  -moz-text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}
.popup .content {
  padding: 10px;
  text-align: justify;
  /* Cet élément est utilisé dans la popup qui permet de reporter un RDV */
  /* Cet élément est utilisé dans la popup qui propose de contacter la CPAM */
  /* Cet élément est utilisé dans la popup qui donne le détail du règlement */
  /* Cet élément est utilisé dans la popup qui permet de changer d'avater */
  /* Cet élement est utilisé dans la popup qui permet la saisie d'infos post RDV */
}
.popup .content .date {
  color: #a9a9a9;
  text-align: left;
  margin-left: 7%;
}
.popup .content .date select {
  display: inline-block;
  width: auto;
}
.popup .content .date select:after {
  display: inline-block;
  content: "/";
}
.popup .content .contact {
  margin-top: 20px;
  text-align: center;
}
.popup .content .contact:before,
.popup .content .contact:after {
  display: block;
  float: none;
  clear: both;
  height: 0;
  content: "";
  visibility: hidden;
}
.popup .content .contact .btn {
  background-color: #a9a9a9;
  border-color: #a9a9a9;
  color: white;
  width: 40%;
}
.popup .content .paiement table {
  table-layout: fixed;
  margin: auto;
  width: 100%;
  border-spacing: 0;
  border-collapse: separate;
}
.popup .content .paiement table tr {
  margin: 0;
  padding: 0;
}
.popup .content .paiement table tr:nth-child(even) {
  background-color: #fafafa;
}
.popup .content .paiement table tr:nth-child(2) > * {
  font-weight: bold;
  color: deeppink;
}
.popup .content .paiement table tr td {
  border: none;
  margin: 0;
  padding: 10px;
  width: 50%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.popup .content .paiement table tr td:last-child {
  text-align: right;
}
.popup .content .list-avatars {
  margin: 0;
  padding: 0;
  text-align: center !important;
}
@media all and (max-width: 480px) {
  .popup .content .list-avatars {
    height: 200px;
    overflow-y: scroll;
  }
}
.popup .content .list-avatars:after {
  display: block;
  float: none;
  clear: both;
  height: 0;
  content: "";
  visibility: hidden;
}
.popup .content .list-avatars .avatar {
  display: inline-block;
  width: 60px;
  height: 60px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  margin: 1.5%;
  cursor: pointer;
  border: solid 2px #fff;
  border-radius: 60px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
}
.popup .content .list-avatars .avatar:hover,
.popup .content .list-avatars .avatar:active,
.popup .content .list-avatars .avatar.active {
  transform: scale(1.2) rotateY(180deg);
  -webkit-transform: scale(1.2) rotateY(180deg);
  -moz-transform: scale(1.2) rotateY(180deg);
  border-color: #a4d247;
}
@media all and (max-width: 480px) {
  .popup .content .informations-complementaires {
    height: 220px;
    overflow-y: scroll;
  }
}
.popup .content .informations-complementaires div {
  margin-top: 10px;
  padding: 5px;
  border: solid 1px #dcdcdc;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.05);
}
.popup .content .informations-complementaires div h4 {
  margin-bottom: 10px;
}
.popup .content .informations-complementaires .montant-paye input {
  display: inline-block;
  width: 20%;
}
.popup .content .informations-complementaires .type-feuille input {
  display: inline-block;
  width: auto;
}
.popup .content .informations-complementaires .date-envoi input {
  display: inline-block;
  width: auto;
}
.popup .footer {
  text-align: center;
  padding: 10px;
}
.popup .footer .btn {
  width: 40%;
  margin-left: 2%;
  margin-right: 2%;
  color: #a9a9a9;
}
.popup.danger {
  border-color: #ff4d4d;
}
.popup.danger .header {
  background-color: #ff4d4d;
}
.popup.danger .footer .btn {
  color: #ff4d4d;
}
.popup.warning {
  border-color: #ffc04d;
}
.popup.warning .header {
  background-color: #ffc04d;
}
.popup.warning .footer .btn {
  color: #ffc04d;
}
.popup.success {
  border-color: #a4d247;
}
.popup.success .header {
  background-color: #a4d247;
}
.popup.success .footer .btn {
  color: #a4d247;
}
/* Notification */
.notification {
  position: fixed;
  z-index: 2;
  top: 2%;
  left: 5%;
  right: 5%;
  padding: 2%;
  width: 90%;
  background-color: #fff;
  border: solid 1px #dcdcdc;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.05);
}
.notification a {
  display: block;
}
.notification a .header {
  float: left;
  margin-right: 2%;
}
.notification a .header .avatar {
  width: 70px;
  height: 70px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}
.notification a .content {
  padding: 0;
}
.notification a .content .titre {
  font-size: 13px;
}
.notification a .content .message {
  margin: 0;
  font-size: 13px;
}
/* Boutons */
.btn,
button,
input[type=submit],
input[type=reset] {
  display: inline-block;
  padding: 8px 20px;
  background-color: rgba(0, 0, 0, 0.01);
  font-weight: bold;
  color: #a9a9a9;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  border: solid 1px #dcdcdc;
  vertical-align: middle;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.05);
  /* Activé */
  /* Personnalisation */
  /* large */
  /* Bouton avec une icône */
  /* Bouton flottant */
}
.btn:active,
button:active,
input[type=submit]:active,
input[type=reset]:active {
  box-shadow: inset 2px 3px 3px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: inset 2px 3px 3px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 2px 3px 3px rgba(0, 0, 0, 0.05);
}
.btn.primary,
button.primary,
input[type=submit].primary,
input[type=reset].primary {
  color: deepskyblue;
}
.btn.success,
button.success,
input[type=submit].success,
input[type=reset].success {
  color: green;
}
.btn.warning,
button.warning,
input[type=submit].warning,
input[type=reset].warning {
  color: orange;
}
.btn.danger,
button.danger,
input[type=submit].danger,
input[type=reset].danger {
  color: red;
}
.btn.large,
button.large,
input[type=submit].large,
input[type=reset].large {
  padding: 10px 22px;
}
.btn.icon,
button.icon,
input[type=submit].icon,
input[type=reset].icon {
  vertical-align: middle;
  line-height: normal;
  text-align: center;
}
.btn.icon img,
button.icon img,
input[type=submit].icon img,
input[type=reset].icon img {
  height: 20px;
  width: 20px;
}
.btn.flottant,
button.flottant,
input[type=submit].flottant,
input[type=reset].flottant {
  position: fixed;
  z-index: 1;
  bottom: 25px;
  right: calc(100% / 5.5);
  background-color: deeppink;
  width: 60px;
  height: 60px;
  padding: 0;
  border: none;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
}
@media all and (max-width: 480px) {
  .btn.flottant,
  button.flottant,
  input[type=submit].flottant,
  input[type=reset].flottant {
    right: 4%;
    bottom: 4%;
    width: 50px;
    height: 50px;
  }
}
.btn.flottant img,
button.flottant img,
input[type=submit].flottant img,
input[type=reset].flottant img {
  width: 25px;
  height: 25px;
}
.btn.flottant:hover,
button.flottant:hover,
input[type=submit].flottant:hover,
input[type=reset].flottant:hover {
  background-color: green;
  transform: scale(1.2) rotate(360deg);
  -webkit-transform: scale(1.2) rotate(360deg);
  -moz-transform: scale(1.2) rotate(360deg);
}
/* About */
.about {
  background-color: #fff;
  margin-top: -15px;
  padding: 20px;
  color: #000000;
}
.about p {
  line-height: 26px;
  text-align: justify;
}
.about p strong {
  color: deeppink;
}
.about h1 {
  color: deeppink;
  margin-bottom: 10px;
  margin-top: 30px;
}
.about ul {
  padding-left: 30px;
}
.about ul li {
  line-height: 26px;
}
.about ul li i {
  color: #a9a9a9;
}
/* icp */
.icp {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}
.icp div {
  position: fixed;
  top: 30%;
  font-size: 96px;
  width: 90%;
  left: 5%;
  right: 5%;
  text-align: center;
  font-weight: bold;
  color: red;
  text-shadow: 3px 3px 5px #ffffff rgba(0, 0, 0, 0.1);
  -webkit-text-shadow: 3px 3px 5px #ffffff rgba(0, 0, 0, 0.1);
  -moz-text-shadow: 3px 3px 5px #ffffff rgba(0, 0, 0, 0.1);
}
.icp div span {
  display: inline-block;
  padding: 20px;
  background-color: white;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.05);
}
.icp div span:first-child {
  color: blue;
}
.icp div span:last-child {
  color: blue;
}
/* Animation */
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.flash {
  -webkit-animation-name: flash;
  animation-name: flash;
}
.bounceInDown {
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
.flipInY {
  -webkit-backface-visibility: visible !important;
  -webkit-animation-name: flipInY;
  backface-visibility: visible !important;
  animation-name: flipInY;
}
.bounceIn {
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
}
@-webkit-keyframes bounceInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateY(30px);
  }
  80% {
    -webkit-transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
  }
}
@keyframes bounceInDown {
  0% {
    opacity: 0;
    transform: translateY(-2000px);
  }
  60% {
    opacity: 1;
    transform: translateY(30px);
  }
  80% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes flipInY {
  0% {
    -webkit-transform: perspective(400px) rotateY(90deg);
    opacity: 0;
  }
  40% {
    -webkit-transform: perspective(400px) rotateY(-10deg);
  }
  70% {
    -webkit-transform: perspective(400px) rotateY(10deg);
  }
  100% {
    -webkit-transform: perspective(400px) rotateY(0deg);
    opacity: 1;
  }
}
@keyframes flipInY {
  0% {
    transform: perspective(400px) rotateY(90deg);
    opacity: 0;
  }
  40% {
    transform: perspective(400px) rotateY(-10deg);
  }
  70% {
    transform: perspective(400px) rotateY(10deg);
  }
  100% {
    transform: perspective(400px) rotateY(0deg);
    opacity: 1;
  }
}
@-webkit-keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.05);
  }
  70% {
    -webkit-transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }
  50% {
    opacity: 1;
    transform: scale(1.05);
  }
  70% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes flash {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}
@keyframes flash {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}
/*# sourceMappingURL=index.css.map */