<!--
Cette popup est appelée dans la page de détail d'un RDV quand le RDV est passé
pour demander à l'utilisateur plus d'informations sur son RDV
-->

<!--
Masque transparent
-->
<div class="popup-masque" data-ng-click="cancel()"></div>

<!--
Popup personalisable
-->
<div class="popup animated bounceInDown {{popup.class}}">

    <header class="header">
        {{popup.titre}}
    </header>

    <div class="content">
        {{popup.message}}

        <div class="informations-complementaires">

            <div class="montant-paye">

                <h4>Quel montant avez-vous payé ?</h4>

                <input
                    data-ng-model="popup.montantPaye"
                    type="text" /> €
            </div>

            <div class="type-feuille">

                <h4>Quelle type de feuille de soins ?</h4>

                <input
                    data-ng-model="popup.typeFeuille"
                    type="radio"
                    value="fsp" /> Papier <br>

                <input
                    data-ng-model="popup.typeFeuille"
                    type="radio"
                    value="fse" /> Electronique
            </div>

            <div
                data-ng-if="popup.typeFeuille === 'fsp'"
                class="date-envoi">

                <h4>A quelle date avez-vous envoyé la feuille ?</h4>

                <input
                    data-ng-model="popup.dateEnvoiFSP"
                    type="date"
                    value="{{popup.dateEnvoiFSP|date:'yyyy-MM-dd'}}">
            </div>
        </div>

    </div>

    <footer class="footer">
        <button data-ng-click="cancel()" class="btn">
            {{popup.boutons.cancel.titre}}
        </button>
    </footer>
</div>