/* Goole Fonts API.
*
* A FAIRE : Importer la police et utiliser @font-face pour optimiser le télechargement
*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600);

@import url(http://fonts.googleapis.com/css?family=Amita:400,700);

/* Variables */
@bleu : deepskyblue;
@bleu-fonce : darken(deepskyblue, 10%);

@rose : deeppink;

@violet : purple;

@orange : orange;

@gris-clair : whitesmoke;
@gris : darken(whitesmoke, 10%);
@gris-fonce : darken(whitesmoke, 30%);

@vert-clair : lighten(yellowgreen, 10%);
@vert : yellowgreen;
@vert-fonce : darken(yellowgreen, 10%);

@noir : #000;

/* Mixins */
.box-shadow(@style){
    box-shadow: @style rgba(0,0,0,0.05);
    -webkit-box-shadow: @style rgba(0,0,0,0.05);
    -moz-box-shadow: @style rgba(0,0,0,0.05);
}
.border-radius(@size){
    border-radius: @size;
    -webkit-border-radius: @size;
    -moz-border-radius: @size;
}
.text-shadow(@style){
    text-shadow: @style rgba(0,0,0,0.1);
    -webkit-text-shadow: @style rgba(0,0,0,0.1);
    -moz-text-shadow: @style rgba(0,0,0,0.1);
}
.box-sizing(@style){
    box-sizing: @style;
    -webkit-box-sizing: @style;
    -moz-box-sizing: @style;
}
.transition(@style){
    transition : @style;
    -webkit-transition : @style;
    -moz-transition : @style;
}
.transition(@style1, @style2){
    transition : @style1, @style2;
    -webkit-transition : @style1, @style2;
    -moz-transition : @style1, @style2;
}
.text-overflow(@style){
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.transform(@style){
    transform : @style;
    -webkit-transform : @style;
    -moz-transform : @style;
};

/* Trick. A utiliser dans :after pour supprimer la flotaison */
.clearfix(){
    display:block;
    float:none;
    clear:both;
    height:0;
    content : "";
    visibility:hidden;
}

/* Cache une élément */
.hide(){
    display: none;
    visibility: hidden;
    height: 0;
    line-height: 0;
    margin: 0;
    padding: 0;
}

*{
    .box-sizing(border-box);

    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;

    outline:none;
}

body{
    margin:0;
    padding: 0;
    background-color: @gris-clair;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans serif;
    font-size: 14px;
    color:@noir;
}

a,
a:hover,
a:active,
a:visited,
a:link{
    text-decoration: none;
    outline: none;
    color:@bleu-fonce;
}

h1, h2, h3, h4{
    line-height: initial;
    margin: 0;
}

h1{
    font-size:18px;
    padding:0;
}
ul{
    margin: 0;

    li{
        list-style: none;
        margin: 0;
        padding: 0;
    }
}
img{
    vertical-align: middle;
}

/* Formulaires */
::-webkit-input-placeholder {
    color: @gris;
}
::-moz-placeholder {
    color: @gris;
    opacity:  1;
}
:-ms-input-placeholder {
    color: @gris;
}
form{
    display:block;
    width:auto;
    margin:0;
}
input,
select{
    display:block;
    background-color:transparent;
    width:100%;
    margin-bottom:15px;
    border:none;
    border-bottom:solid 1px @gris;
    line-height:22px;
    padding:7px;
    font-size:14px;
    color:@rose;
    .transition(border-color 0.1s linear);

    &:focus{
        border-color: @bleu;
    }

    .default{
        color:@gris-clair !important;
    }
}
select{
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
}
textarea{
    display: block;
    width: 100%;
    max-width: 100%;
    overflow: hidden;

    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans serif;
    font-size: 14px;
    line-height:22px;
    color:@noir;
    border:solid 1px @gris-clair;

    .transition(border-color 0.1s linear);

    &:focus{
        border-color: lighten(@bleu, 30%);
    }

}

/* header */
.main-header{
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    z-index: 1;
    width: 100%;
    padding: 0;
    background-color: @bleu;
    .box-shadow(0 5px 10px);
}

/* Menu principal */
.menu{
    width: 100%;
    max-width: 720px;
    margin: auto;
    padding: 0;

    li{
        display: block;
        float: left;
        width: calc(~"100%/3");
        text-align: center;
        border-bottom: solid 3px transparent;
        .transition(all 0.2s ease-in);

        a{
            display: block;
            padding: 10px;
            color:#fff;

            img{
                width:20px;
                height: 20px;
            }
        }

        /* Menu activé */
        &.active{
            border-bottom-color: #fff;
        }

        /* Nom de l'application */
        &.brand{
            display: block;
            float: none;
            font-size: 14px;
            font-weight: bold;
            text-align: left;
            color:#fff;
            padding: 10px;
        }
    }

    &:after{
        .clearfix();
    }

}

/* Content */
.content{
    padding-top: 100px;
    max-width: 720px;
    margin:auto;
}

/* Home */
.home{
    position:fixed;
    z-index: 2;
    left: 0;
    top: 0;
    right:0;
    bottom:0;
    width: 100%;
    height: 100%;

    background-color: @bleu;
    background-image: url(../img/background.jpg);
    background-repeat:no-repeat;
    background-position:center bottom;
    background-size:cover;

    .connexion{
        position: fixed;
        top:25%;
        left: 30%;
        right: 30%;
        width:40%;
        margin: 0 auto;
        padding: 3%;
        background-color: #fff;
        .box-shadow(3px 3px 5px);

        @media all and (max-width:640px){
            width : 80%;
            left: 10%;
            right: 10%;
        }

        &:after{
            .clearfix();
        }

        h1{
            display: inline-block;
            display:none;
            color:#fff;
            background-color: @bleu;
            margin-bottom: 5%;
            padding: 10px 20px;
            .text-shadow(1px 1px 2px);
        }

        input{
            font-size: 16px;
        }

        .btn{
            float:right;
            background-color: @rose;
            border: none;
            color:#fff;
            padding: 10px 20px;
            .border-radius(0);
        }
    }

    .brand{
        position:absolute;
        z-index: 1;
        left: 0;
        bottom:0;
        color:#fff;

        h1{
            font-size: 24px;
            padding: 10%;
        }
    }
}

/* page de démarrage */
.demarrage{
    width: auto;
    height: 400px;
    padding: 20px;
    text-align:center;

    h1{
        display: inline-block;
        position: relative;
        top:40%;
        font-family: 'amita';
        font-size: 38px;
        color:@rose;
        line-height: normal;
        margin:0;
        padding: 0;
        .transform(transalteY(-50%));
        text-shadow: -2px 2px 2px #fff, 2px -2px 2px #fff;

        @media all and(max-width:480px){
            top:10%;
        }

        a{
            display: inline-block;
            color:@bleu;
            .transition(all linear 0.2s);

            &:hover{
                .transform(scale(1.3));
            }
        }
    }
}

/* list-menu : filtre une liste */
.list-menu{
    overflow: hidden;
    width:98%;
    margin:auto;
    padding: 0;
    background-color:#fff;
    border : solid 1px @gris;
    .border-radius(7px);

    li{
        display: block;
        float:left;
        width: calc(~"100%/3");
        text-align: center;

        &:nth-child(2){
            border-left: solid 1px @gris;
            border-right: solid 1px @gris;
        }
        &.active,
        :active{
            background-color: rgba(255,255,255,0.9);
            .box-shadow(inset 3px 3px 3px);
        }

        a{
            display: block;
            padding:10px;
            vertical-align : middle;

            img{
                width: 20px;
                height: 20px;
            }
        }
    }

    &:after{
        .clearfix();
    }
}

/* Liste des RDV */
.list-rdv{
    margin:0;
    padding: 0;
    width:100%;

    li{
        display: block;
        list-style: none;
        margin:auto;
        margin-bottom: 1%;
        width: calc(~"100% - 2%");

        &:after{
            .clearfix();
        }

        .avatar{
            float:left;
            width:50px;
            height:50px;
            margin-top:4%;
            margin-right:2%;
            background-color:@gris-clair;
            background-repeat:no-repeat;
            background-position:center center;
            background-size:100% auto;
            .border-radius(50px);
        }

        a{
            display: block;
            float:right;
            width: calc(~"100% - 50px - 2%"); // max - largeur de l'avatar - la marge
            background-color: #fff;
            border:solid 1px lighten(@gris, 5%);
            .box-shadow(2px 2px 3px);
            .transition(all 0.1s linear);

            &:active{
                .transform(scale(1.03));
            }

            .header{
                padding: 15px;
                border-bottom: solid 1px @gris-clair;

                .heure{
                    float: left;
                    width: 50%;
                    vertical-align: middle;
                    line-height: 20px;
                }

                .etat{
                    float: right;
                    width:50%;
                    text-align: right;
                    vertical-align: middle;
                    line-height: 20px;
                    height: 20px;

                    &.false{
                        background: url(../img/schedule-orange.svg) no-repeat center right;
                    }

                    &.true{
                        background: url(../img/check-green.svg) no-repeat center right;
                    }
                }

                &:after{
                    .clearfix();
                }
            }
            .content{
                padding: 15px;

                .titre{
                    margin: 0;
                    color:@rose;
                }
            }
        }
    }

    /* Regroupement par date */
    li.date{
        margin-top: 15px;
        margin-bottom: 10px;

        padding: 7px;
        font-size: 18px;
        font-weight: bold;
        color:@vert;
        border:none;

        .box-shadow(0 0 0);
    }
}

/* detail-rdv */
.detail-rdv{
    overflow: hidden;
    background-color: white;
    width:calc(~"100% - 1.5%");
    margin: auto;
    margin-bottom: 10px;
    border:solid 1px @gris;
    .box-shadow(2px 2px 3px);

    .header{
        padding: 15px;
        font-size:18px;

        &:after{
            .clearfix();
        }

        .avatar{
            width:72px;
            height:72px;
            float:left;
            margin-right: 3%;
            background-color:@gris-clair;
            background-repeat:no-repeat;
            background-position:center center;
            background-size:100% auto;
            .border-radius(50px);
        }

        .date,
        .heure{
            cursor:pointer;
        }

        .date{
            float: left;
            width: 33%;
            line-height: 72px; // Hauteur de l'avatar
            vertical-align: middle;
        }
        .heure{
            float:right;
            width: 33%;
            line-height: 72px; // Hauteur de l'avatar
            vertical-align: middle;
            text-align: right;
        }
    }

    /* Barre du statut et des détails du remboursement */
    .remboursement{
        margin-bottom: 15px;
        padding: 10px 15px;
        width: 100%;
        color:#fff;

        &:after{
            .clearfix();
        }

        &.false{
            background-color: lighten(orange, 15%);
            border-top:solid 1px lighten(orange, 10%);
            border-bottom:solid 1px lighten(orange, 10%);
        }

        &.true{
            background-color: lighten(yellowgreen, 15%);
            border-top:solid 1px lighten(yellowgreen, 10%);
            border-bottom:solid 1px lighten(yellowgreen, 10%);
        }

        .date,
        .etat,
        .montant,
        .message,
        .contact{
            float:left;
            width: calc(~"100% / 3");
            text-align: center;
            line-height:21px;
            vertical-align:middle;
            .text-overflow(ellipsis);
        }

        .contact{
            text-align:right;
            a{
                display:block;
                img{
                    width: auto;
                    height: 20px;
                }
            }
        }

        .etat{
            text-align:left;

            .true,
            .false{
                display: inline-block;
                background-repeat: no-repeat;
                background-position: center center;
                width: 20px;
                height: 20px;
                vertical-align:middle;
            }
            .true{
                background-image: url(../img/check-white.svg);
            }
            .false{
                background-image: url(../img/schedule-white.svg);
            }
        }

        .date{
        }

        .montant{
            text-align: right;
            font-weight: bold;
        }

        /* Affiché que si l'état est à false */
        .message{
            text-align:center;
            font-weight:normal;
        }
    }

    .content{
        padding: 15px;
        padding-top:0;

        .titre{
            margin-bottom: 10px;
            font-size: 20px;
            font-weight: normal;
            color:@rose;
        }

        .numero{
            margin-bottom: 10px;
        }

        .adresse{
            margin-bottom: 15px;
        }

        .telephone,
        .itineraire{
            display: inline-block;
            background-color:@bleu;
            background-image: url(../img/phone-white.svg);
            background-repeat: no-repeat;
            background-position: 10px center;
            background-size: 18px 18px;
            padding: 7px 15px;
            padding-left: 35px;
            font-size: 15px;
            color:#fff;
            .border-radius(7px);
        }
        .itineraire{
            background-image: url(../img/map-white.svg);
            margin-left: 10px;
        }

        .notes{
            margin:0;
            margin-top: 15px;
            padding:10px;
            text-align:justify;
            background-color : lighten(@gris-clair, 1%);
            border-top : solid 2px lighten(gold, 25px);

            h4{
                margin-bottom: 5px;
            }

            textarea{
                height: 70px;
                background-color: transparent;
                border:none;
            }
        }

        /* Bouton de demande d'informations post rdv */
        .informations{
            margin-top: 15px;

            .btn{
                font-weight: normal;

                @media all and(max-width:480px){
                    width:100%;
                }
            }
        }
    }

    .footer{
        padding: 15px 15px 15px 15px;
        padding: 0;
        background-color: @gris-clair;
        border-top:solid 1px @gris;

        &:after{
            .clearfix();
        }

        .btn{
            display: block;
            float: left;
            background-color: transparent;
            border:none;
            padding: 15px 0;
            width: calc(~"100% / 3");
            .border-radius(0);
            .box-shadow(0 0 0);
            .transition(background-color 0.1s linear);
            .text-overflow(ellipsis);

            &:hover{
                background-color:rgba(255,255,255,0.4);
            }

            &:active{
                .box-shadow(inset 2px 3px 3px);
            }

            &:nth-child(1){
                border-right: solid 1px #fff;
            }

            &:nth-child(2){
                border-left: solid 1px @gris;
                border-right: solid 1px #fff;
            }

            &:nth-child(3){
                border-left: solid 1px @gris;
            }
        }
    }
}

/* create-rdv : formulaire de création d'un nouveau RDV */
.create-rdv{
    width:96%;
    margin:auto;
    margin-bottom:20px;

    .header{
        .titre{

        }
    }
    .content{
        padding:0;

        .pour,
        .avec,
        .date,
        .notes,
        .rappel{
            background-color:#fff;
            margin-bottom:20px;
            padding:15px;
            border:solid 1px lighten(@gris, 5%);
            .box-shadow(2px 2px 3px);

            &:after{
                .clearfix();
            }

            /* Titre des cartes */
            .header{
                text-align:left;
                padding: 10px 0px;
                color:@rose;
            }

            /* Pavé choix du bénéficiaire */
            .beneficiaires{
                padding:0;
                margin:0;
                text-align:center;

                .avatar{
                    display:inline-block;
                    background-color:@gris-clair;
                    background-position:center center;
                    background-repeat:no-repeat;
                    background-size:cover;
                    width:60px;
                    height:60px;
                    margin:2%;
                    cursor:pointer;
                    border:solid 3px #fff;
                    .border-radius(60px);
                    .transition(all 0.3s linear);
                    .box-sizing(content-box);

                    &:hover{
                        .transform(scale(1.2) rotateY(180deg));

                    }

                    &:active,
                        &.active{
                        border-color:lighten(yellowgreen, 15%);
                        .transform(scale(1.2) rotateY(180deg));
                    }
                }
            }

            /* Pavé choix de la date */
            label {
                display:block;
                width:48%;
                float:left;
                background-color:lighten(@gris-clair, 2%);
                margin-left: 1%;
                margin-right: 1%;
                margin-bottom:15px;
                padding:5px 15px;
                .border-radius(7px);

                @media all and(max-width:480px){
                    float:none;
                    width:auto;
                    margin-left: 0;
                    margin-right: 0;
                }

                select{
                    display:inline-block;
                    float:none;
                    width:auto;
                }
            }

            /* Pavé des notes */
            textarea{
                border:none;
                background-color: @gris-clair;
                min-height: 100px;
                padding: 10px;
            }

            /* Pavé choix de l'heure du rappel */
            .delais{
                padding:0;
                margin:0;
                text-align:center;

                li{
                    display:inline-block;
                    width:45%;
                    background-color:@gris-clair;
                    overflow:hidden;
                    margin:1% 1.5%;
                    .border-radius(7px);
                    .transition(all 0.2s linear);

                    a{
                        display:block;
                        color:@gris-fonce;
                        padding:7px 15px;
                    }

                    &:hover,
                        &:active,
                        &.active{
                        background-color:lighten(yellowgreen, 15%);

                        a{
                            color:#fff;
                            .text-shadow(1px 1px 2px);
                        }
                    }
                }
            }
        }
    }

    .footer{
        .btn{
            width:100%;
            background-color:@rose;
            border-color:@rose;
            color:#fff;
            padding: 15px;
            .border-radius(0px);
        }
    }
}

/* search-ps : formulaire de recherche d'un PS/établissement '*/
.search-ps{
    overflow: hidden;
    background-color: white;
    width:calc(~"100% - 1.5%");
    margin: auto;
    margin-bottom: 10px;
    border:solid 1px @gris;
    .box-shadow(2px 2px 3px);

    .header{
        border-bottom:solid 1px @gris-clair;
        padding:15px;

        .titre{
            font-weight: normal;
            color:@bleu;
        }
    }

    .content{
        padding:15px;
        padding-bottom:0;

        /* Plus d'options de recherche */
        .more-options{
            text-align:center;

            a{
                display: block;
            }
        }
    }

    .footer{
        padding:15px;

        .btn{
            background-color:@rose;
            color:#fff;
            border-color: @rose;
            .border-radius(0);
        }
    }
}

/* Liste des PS */
.list-ps{
    padding: 0;
    width:calc(100% - 1.5%);
    margin: auto;
    margin-top:20px;

    li{
        display: block;
        margin:auto;
        margin-bottom: 2%;
        width: 100%;
        float:right;
        background-color: #fff;
        border:solid 1px @gris;
        .box-shadow(2px 2px 3px);
        .transition(all 0.1s linear);

        &:after{
            .clearfix();
        }

        /* Nombre de résultats */
        &.results-infos{
            padding: 20px;
            color:@bleu;
        }

        .header{
            padding: 10px 15px;
            border-bottom: solid 1px @gris-clair;

            &:after{
                .clearfix();
            }

            .honoraires{
                display: block;
                float: left;
                width: 70%;
                line-height: 32px;
                vertical-align: middle;
                .text-overflow(ellipsis);
            }

            .cv{
                float: right;
                width:80px;
                vertical-align: middle;
                height: 32px;

                &.false{
                    background: url(../img/cv_gris.png) no-repeat center right;
                }

                &.true{
                    background: url(../img/cv.png) no-repeat center right;
                }
            }
        }
        .content{
            padding: 15px;
            padding-top: 10px;
            color:@noir;

            .nom{
                margin-top: 0;
                margin-bottom: 10px;
                font-size: 20px;
                color:@rose;
            }

            .numero{
                margin-bottom: 10px;
                color: @gris-fonce;
            }

            .adresse{
                margin-bottom: 15px;
            }

            .telephone,
            .itineraire{
                display: inline-block;
                background-color:@bleu;
                background-image: url(../img/phone-white.svg);
                background-repeat: no-repeat;
                background-position: 10px center;
                background-size: 18px 18px;
                padding: 7px 15px;
                padding-left: 35px;
                font-size: 15px;
                color:#fff;
                .border-radius(7px);
            }
            .itineraire{
                background-image: url(../img/map-white.svg);
                margin-left: 10px;
            }

            .maps{
                margin-top: 15px;
                background-color: @gris-clair;
                width: 100%;
                height: 150px;
            }
        }

        .actions{
            padding: 15px 15px 15px 15px;
            padding: 0;
            background-color: @gris-clair;
            border-top:solid 1px @gris;

            &:after{
                .clearfix();
            }

            .btn{
                display: block;
                float: left;
                background-color: transparent;
                border:none;
                padding: 15px 0;
                width: calc(100% / 2);
                .border-radius(0);
                .box-shadow(0 0 0);
                .transition(background-color 0.1s linear);
                .text-overflow(ellipsis);

                &:hover{
                    background-color:rgba(255,255,255,0.4);
                }

                &:active{
                    .box-shadow(inset 2px 3px 3px);
                }

                &:nth-child(1){
                    border-right: solid 1px #fff;
                }

                &:nth-child(2){
                    border-left: solid 1px @gris;
                }
            }
        }
    }
}

/* contact : formulaire de contact */
.contact-mail{
    overflow: hidden;
    background-color: white;
    width:calc(~"100% - 1.5%");
    margin: auto;
    margin-bottom: 10px;
    border:solid 1px @gris;
    .box-shadow(2px 2px 3px);

    .header{
        border-bottom:solid 1px @gris-clair;
        padding:15px;

        .titre{
            font-weight: normal;
            color:@bleu;
        }
    }

    .content{
        padding:15px;
        padding-bottom:0;

        .objet{
            margin-top: 5px;
            margin-bottom: 25px;
            border-bottom: solid 1px @gris;
            background-color:@gris-clair;

            span{
                display: inline-block;
                padding: 10px 20px;
                color:@rose;
            }
        }

        .reference,
        .message{
            margin-bottom: 25px;
            border-bottom: solid 1px @gris;

            h4{
                background-color:@gris-clair;
                border-bottom: solid 1px @gris;
                padding: 10px 20px;
                color:@rose;
            }
        }

        .reference{
            border-bottom: none;

            table{
                table-layout:fixed;
                margin:auto;
                width:100%;
                border-spacing: 0;
                border-collapse: separate;
                border-bottom: solid 1px @gris;

                tr{
                    margin:0;
                    padding:0;
                    &:nth-child(even){
                        background-color:lighten(@gris-clair, 2%);
                    }

                    td{
                        border:none;
                        margin:0;
                        padding: 10px;
                        width: 50%;
                        .text-overflow(ellipsis);

                    }
                }
            }
        }

        .message{
            margin-bottom:0;

            textarea{
                height: 150px;
                padding: 2%;
                border:none;
            }
        }
    }

    .footer{
        padding:15px;

        .btn{
            background-color:@rose;
            color:#fff;
            border-color: @rose;
            .border-radius(0);
        }
    }
}
/* Settings */
.settings{
    background-color: white;
    padding:0;
    margin-top:-12px;

    li{
        border-bottom:solid 1px @gris-clair;

        &:after{
            .clearfix();
        }

        &:hover > *,
            &:active > *{
            background-color: lighten(@gris-clair, 3%);
            color:@rose;
        }

        a{
            display: block;
            padding:6% 3%;
            vertical-align:middle;
        }

        label{
            display: block;
            width: 100%;
            padding: 6% 3%; /* trick */
            cursor: pointer;
            color:@bleu-fonce;

            input{
                width: auto;
                float: right;
            }
        }

    }
}

/* list-beneficiaires */
.list-beneficiaires{
    margin:0;
    padding:0;
    li{
        width:98%;
        background-color: #fff;
        margin:auto;
        margin-bottom: 1%;
        padding:20px;
        border:solid 1px lighten(@gris, 5%);
        .box-shadow(2px 2px 3px);

        &:after{
            .clearfix();
        }
        .avatar{
            float:left;
            margin:0 auto;
            margin-right: 5%;
            height: 80px;
            width: 80px;
            background-color: @gris;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            cursor: pointer;
            .border-radius(70px);
        }
        .header{
            margin:0;
            padding-bottom:10px;
            .titre{
                margin:0;
                color:@rose;
            }
        }
        .content{
            margin:0;
            padding:0;
            .date,
            .qualite{
                color:darken(@gris-fonce, 40%);
                margin-bottom: 10px;
            }
        }
    }
}

/* Tutoriel */
.tutoriel{
    position: fixed;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: @bleu;
    /*
    background-image: url(../img/background.jpg);
    background-repeat:no-repeat;
    background-position:center bottom;
    background-size:cover;
    */

    color:white;
    padding:5%;
    .box-shadow(3px 3px 5px);

    /* La couleur de fond change à chaque étape */
    &&.etape-1{
        background-color: darken(@rose, 10%);
    }
    &&.etape-2{
        background-color: darken(@vert, 5%);
    }
    &&.etape-3{
        background-color: lighten(@violet, 5%);
    }
    &&.etape-4{
        background-color: darken(@orange, 5%);
    }

    .panel{
        position:fixed;
        top:20%;
        left:15%;
        right: 15%;
        width:70%;
        margin:0 auto;

        @media all and(max-width:480px){
            width:90%;
            left:5%;
            right:5%;
        }

        h1{
            font-size: 30px;
            margin-bottom: 10%;
            word-wrap:break-word;
            .text-shadow(1px 1px 2px);
        }

        p{
            font-size: 24px;
            line-height: 40px;
            margin-bottom: 10%;
            text-align: left;
            .text-shadow(1px 1px 2px);
        }

        div{
            &:after{
                .clearfix();
            }

            .btn{
                position: fixed;
                bottom:5%;
                right:5%;
                background-color: rgba(255,255,255,0.5);
                border:none;
                color:white;
                .border-radius(0);
                .box-shadow(0 0 0);
            }
        }
    }
}

/* Popups */
.popup{
    position:fixed;
    z-index: 2;
    width:30%;
    top:25%;
    left:35%;
    right:35%;
    background-color:#fff;
    border:solid 2px @gris-fonce;
    overflow: hidden;
    .border-radius(7px);
    .box-shadow(3px 3px 7px);

    @media all and (max-width:640px){
        width : 80%;
        left:10%;
        right:10%;
    }

    /* Masque transparent */
    &-masque{
        position:fixed;
        z-index: 2;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        bottom:0;
        right:0;
        background-color: rgba(0,0,0,0.5);
    }

    .header{
        background-color: @gris-fonce;
        color:#fff;
        font-weight: bold;
        padding: 10px;
        position:relative;
        margin-right: -1px;
        .text-shadow(1px 1px 2px);
    }

    .content{
        padding: 10px;
        text-align: justify;

        /* Cet élément est utilisé dans la popup qui permet de reporter un RDV */
        .date{
            color:@gris-fonce;
            text-align:left;
            margin-left:7%;

            select{
                display: inline-block;
                width: auto;

                &:after{
                    display: inline-block;
                    content: "/";
                }
            }
        }

        /* Cet élément est utilisé dans la popup qui propose de contacter la CPAM */
        .contact{
            margin-top:20px;
            text-align:center;

            &:before,
                &:after{
                .clearfix;
            }

            .btn{
                background-color: @gris-fonce;
                border-color: @gris-fonce;
                color:white;
                width:40%;
            }
        }

        /* Cet élément est utilisé dans la popup qui donne le détail du règlement */
        .paiement{

            table{
                table-layout:fixed;
                margin:auto;
                width:100%;
                border-spacing: 0;
                border-collapse: separate;

                tr{
                    margin:0;
                    padding:0;

                    &:nth-child(even){
                        background-color:lighten(@gris-clair, 2%);
                    }

                    &:nth-child(2) > *{
                        font-weight: bold;
                        color:@rose;
                    }
                    td{
                        border:none;
                        margin:0;
                        padding: 10px;
                        width: 50%;
                        .text-overflow(ellipsis);

                        &:last-child{
                            text-align: right;
                        }
                    }
                }
            }
        }

        /* Cet élément est utilisé dans la popup qui permet de changer d'avater */
        .list-avatars{
            margin:0;
            padding: 0;
            text-align:center !important;

            @media all and(max-width: 480px){
                height: 200px;
                overflow-y: scroll;
            }

            &:after{
                .clearfix();
            }

            .avatar{
                display: inline-block;
                width:60px;
                height: 60px;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                overflow: hidden;
                margin:1.5%;
                cursor:pointer;
                border:solid 2px #fff;
                .border-radius(60px);
                .transition(all 0.4s linear);

                &:hover,
                    &:active,
                    &.active{
                    .transform(scale(1.2) rotateY(180deg));
                    border-color:lighten(yellowgreen, 5%);
                }
            }
        }

        /* Cet élement est utilisé dans la popup qui permet la saisie d'infos post RDV */
        .informations-complementaires{

            @media all and(max-width:480px){
                height:220px;
                overflow-y:scroll;
            }

            div{
                margin-top:10px;
                padding: 5px;
                border:solid 1px @gris;
                .box-shadow(2px 2px 3px);

                h4{
                    margin-bottom: 10px;
                }
            }

            .montant-paye{
                input{
                    display: inline-block;
                    width:20%;
                }
            }

            .type-feuille{

                input{
                    display: inline-block;
                    width:auto;
                }
            }

            .date-envoi{

                input{
                    display: inline-block;
                    width: auto;
                }
            }
        }
    }

    .footer{
        text-align: center;
        padding: 10px;

        .btn{
            width: 40%;
            margin-left: 2%;
            margin-right: 2%;
            color:@gris-fonce;
        }
    }

    /* Styling */
    &.danger{
        border-color:lighten(red, 15%);

        .header{
            background-color: lighten(red, 15%);
        }

        .footer{
            .btn{
                color:lighten(red, 15%);
            }
        }
    }

    &.warning{
        border-color:lighten(orange, 15%);

        .header{
            background-color: lighten(orange, 15%);
        }

        .footer{
            .btn{
                color:lighten(orange, 15%);
            }
        }
    }

    &.success{
        border-color:lighten(@vert, 5%);

        .header{
            background-color: lighten(@vert, 5%);
        }

        .footer{
            .btn{
                color:lighten(@vert, 5%);
            }
        }
    }
}

/* Notification */
.notification{
    position:fixed;
    z-index:2;
    top:2%;
    left: 5%;
    right: 5%;
    padding: 2%;
    width: 90%;
    background-color: #fff;
    border:solid 1px @gris;
    .border-radius(5px);
    .box-shadow(0px 0px 5px 2px);

    a{
        display:block;

        .header{
            float:left;
            margin-right:2%;

            .avatar{
                width: 70px;
                height: 70px;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                overflow: hidden;
                .border-radius(50%);
            }
        }
        .content{
            padding: 0;

            .titre{
                font-size: 13px;
            }

            .message{
                margin: 0;
                font-size: 13px;
            }
        }
    }
}

/* Boutons */
.btn,
button,
input[type=submit],
input[type=reset]{
    display: inline-block;
    padding: 8px 20px;
    background-color: rgba(0,0,0,0.01);
    font-weight: bold;
    color:@gris-fonce;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    border:solid 1px @gris;
    vertical-align: middle;
    .border-radius(7px);
    .box-shadow(2px 2px 3px);

    /* Activé */
    &:active{
        .box-shadow(inset 2px 3px 3px);
    }

    /* Personnalisation */
    &.primary{
        color:@bleu;
    }

    &.success{
        color:green;
    }

    &.warning{
        color:orange;
    }

    &.danger{
        color:red;
    }

    /* large */
    &.large{
        padding: 10px 22px;
    }

    /* Bouton avec une icône */
    &.icon{
        vertical-align: middle;
        line-height: normal;
        text-align:center;

        img{
            height: 20px;
            width: 20px;
        }
    }

    /* Bouton flottant */
    &.flottant{
        position: fixed;
        z-index: 1;
        bottom: 25px;
        right: calc(~"100% / 5.5");
        background-color: @rose;
        width: 60px;
        height: 60px;
        padding: 0;
        border:none;
        .border-radius(50px);
        .box-shadow(0px 0px 10px);
        .transition(all 0.2s linear);

        @media all and (max-width:480px){
            right: 4%;
            bottom: 4%;
            width: 50px;
            height: 50px;
        }

        img{
            width: 25px;
            height: 25px;
        }

        &:hover{
            background-color: green;
            .transform(scale(1.2) rotate(360deg));
        }
    }
}

/* About */
.about{
    background-color: #fff;
    margin-top: -15px;
    padding:20px;
    color:@noir;

    p{
        line-height: 26px;
        text-align: justify;

        strong{
            color:@rose;
        }
    }

    h1{
        color:@rose;
        margin-bottom: 10px;
        margin-top:30px;
    }
    ul{
        padding-left:30px;

        li{
            line-height: 26px;

            i{
                color:@gris-fonce;
            }
        }
    }
}

/* icp */
.icp{
    position: fixed;
    top:0;
    left: 0;
    width:100%;
    height: 100%;
    background-color: rgba(0,0,0,0.1);

    div{
        position:fixed;
        top:30%;
        font-size: 96px;
        width:90%;
        left:5%;
        right: 5%;
        text-align: center;
        font-weight: bold;
        color:red;

        .text-shadow(3px 3px 5px #fff);

        span{
            display:inline-block;
            padding:20px;
            background-color: white;
            .box-shadow(5px 5px 10px);
        }
        span:first-child{
            color:blue;
        }
        span:nth-child(2){

        }
        span:last-child{
            color:blue;
        }
    }
}


/* Animation */
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.flash {
    -webkit-animation-name: flash;
    animation-name: flash;
}

.bounceInDown {
    -webkit-animation-name: bounceInDown;
    animation-name: bounceInDown;
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

.flipInY {
    -webkit-backface-visibility: visible !important;
    -webkit-animation-name: flipInY;
    backface-visibility: visible !important;
    animation-name: flipInY;
}

.bounceIn {
    -webkit-animation-name: bounceIn;
    animation-name: bounceIn;
}

@-webkit-keyframes bounceInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-2000px);
    }
    60% {
        opacity: 1;
        -webkit-transform: translateY(30px);
    }
    80% {
        -webkit-transform: translateY(-10px);
    }
    100% {
        -webkit-transform: translateY(0);
    }
}

@keyframes bounceInDown {
    0% {
        opacity: 0;
        transform: translateY(-2000px);
    }
    60% {
        opacity: 1;
        transform: translateY(30px);
    }
    80% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@-webkit-keyframes flipInY {
    0% {
        -webkit-transform: perspective(400px) rotateY(90deg);
        opacity: 0;
    }
    40% {
        -webkit-transform: perspective(400px) rotateY(-10deg);
    }
    70% {
        -webkit-transform: perspective(400px) rotateY(10deg);
    }
    100% {
        -webkit-transform: perspective(400px) rotateY(0deg);
        opacity: 1;
    }
}
@keyframes flipInY {
    0% {
        transform: perspective(400px) rotateY(90deg);
        opacity: 0;
    }
    40% {
        transform: perspective(400px) rotateY(-10deg);
    }
    70% {
        transform: perspective(400px) rotateY(10deg);
    }
    100% {
        transform: perspective(400px) rotateY(0deg);
        opacity: 1;
    }
}

@-webkit-keyframes bounceIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(.3);
    }

    50% {
        opacity: 1;
        -webkit-transform: scale(1.05);
    }

    70% {
        -webkit-transform: scale(.9);
    }

    100% {
        -webkit-transform: scale(1);
    }
}

@keyframes bounceIn {
    0% {
        opacity: 0;
        transform: scale(.3);
    }

    50% {
        opacity: 1;
        transform: scale(1.05);
    }

    70% {
        transform: scale(.9);
    }

    100% {
        transform: scale(1);
    }
}

@-webkit-keyframes flash {
    0%, 50%, 100% {opacity: 1;}
    25%, 75% {opacity: 0;}
}
@keyframes flash {
    0%, 50%, 100% {opacity: 1;}
    25%, 75% {opacity: 0;}
}
