<!DOCTYPE html>
<html lang="fr" data-ng-app="app">
    <head>
        <title>myAmeli</title>

        <meta charset="UTF-8">

        <!--
        Smartphones & tablettes
        -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--
        Raccourcis & favicon
        -->
        <link rel="apple-touch-icon" sizes="57x57" href="img/icons/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="img/icons/apple-touch-icon-60x60.png">
        <link rel="icon" type="image/png" href="img/icons/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="img/icons/favicon-16x16.png" sizes="16x16">

        <!--
        LESS : Laisser dans <head>
        -->
        <link href="less/index.less" rel="stylesheet/less" type="text/css"/>
        <script src="bower_components/less/dist/less.min.js"></script>

        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <script src="bower_components/angular/angular.min.js" type="text/javascript"></script>
        <script src="bower_components/angular-route/angular-route.min.js" type="text/javascript"></script>
        <script src="bower_components/angular-resource/angular-resource.min.js" type="text/javascript"></script>
        <script src="bower_components/angular-filter/dist/angular-filter.min.js" type="text/javascript"></script>
        <script src="bower_components/angular-animate/angular-animate.min.js" type="text/javascript"></script>
        <script src="bower_components/angular-local-storage/dist/angular-local-storage.min.js" type="text/javascript"></script>

        <!--
        Google Maps API
        -->
        <script src="//maps.google.com/maps/api/js"></script>
        <script src="bower_components/ngmap/build/scripts/ng-map.min.js" type="text/javascript"></script>

        <!--
        SOAP Client
        -->
        <script src="bower_components/angular-soap/soapclient.js" type="text/javascript"></script>
        <script src="bower_components/angular-soap/angular.soap.js" type="text/javascript"></script>

        <!--
        Application
        -->
        <script src="js/app.js"></script>

        <!--
        Controllers
        -->
        <script src="js/controllers/HomeCtrl.js" type="text/javascript"></script>
        <script src="js/controllers/MenuCtrl.js" type="text/javascript"></script>
        <script src="js/controllers/RdvCreateCtrl.js" type="text/javascript"></script>
        <script src="js/controllers/RdvListCtrl.js" type="text/javascript"></script>
        <script src="js/controllers/RdvDetailCtrl.js" type="text/javascript"></script>
        <script src="js/controllers/PsSearchCtrl.js" type="text/javascript"></script>
        <script src="js/controllers/SettingsCtrl.js" type="text/javascript"></script>
        <script src="js/controllers/TutorielCtrl.js" type="text/javascript"></script>
        <script src="js/controllers/ContactCtrl.js" type="text/javascript"></script>
        <script src="js/controllers/AccountCtrl.js" type="text/javascript"></script>
        <script src="js/controllers/AboutCtrl.js" type="text/javascript"></script>

        <!--
        Filters
        -->
        <script src="js/filters.js" type="text/javascript"></script>

        <!--
        Services
        -->
        <script src="js/services/Data.js" type="text/javascript"></script>
        <script src="js/services/Notification.js" type="text/javascript"></script>
        <script src="js/services/Soap.js" type="text/javascript"></script>

        <!--
        Directives
        -->
        <script src="js/directives.js" type="text/javascript"></script>

    </head>
    <body>

        <header class="main-header">
            <!--
            Menu principal
            -->
            <ul class="menu" data-ng-controller="MenuCtrl">
                <li class="brand" data-on-scroll-top="false">
                    <span>{{brand}}</span>
                </li>
                <li data-ng-repeat="item in items" data-ng-click="selectItem($index)" data-ng-class="{active: $index === selectedIndex}">
                    <a href="{{item.url}}"><img data-ng-src="{{item.image}}"></a>
                </li>
            </ul>
        </header>

        <!--
        Reçoit les vues
        -->
        <div class="content" data-ng-view autoscroll="true"></div>

    </body>
</html>