<div
    class="about">

    <p>Ce projet a été réalisé par <strong>Romain Coccoz</strong>, <strong>Marion Grandjean</strong> et <strong>Moukhliss Gadami</strong> à l'occasion du Coding Dojo du 4 et 5 juin 2015.</p>

    <h1>Technologies et logiciels</h1>
    <ul>
        <li>Angular JS : <i>https://angularjs.org</i></li>
        <li>PHP & MySql</li>
        <li>HTML5 & CSS3</li>
        <li>GitHub : <i>https://github.com</i></li>
        <li>Less CSS : <i>http://lesscss.org</i></li>
        <li>Bower : <i>http://bower.io</i></li>
        <li>Browser-sync : <i>http://www.browsersync.io</i></li>
        <li>Google Maps API : <i>https://developers.google.com/maps</i></li>
    </ul>

    <h1>Citations</h1>
    <ul>
        <li>Plugin Google Maps pour Angular JS : <i>https://ngmap.github.io</i></li>
        <li>Avatars : <i>http://pickaface.net</i></li>
        <li>Icônes : <i>https://www.iconfinder.com/iconsets/material-core</i></li>
    </ul>

    <h1>Remerciements</h1>
    <ul>
        <li>Fabrice, Hélène, Eddie et Romuald du Pôle Applications Locales pour leurs idées et leurs conseils.</li>
    </ul>
</div>

<!--
ICP
-->
<div
    data-ng-if="icp"
    class="icp animated fadeIn"
    data-ng-click="clear()">
    <div>
        <span class="animated bounceIn">ICI</span>
        <span class="animated bounceIn">C'EST</span>
        <span class="animated bounceIn">PARIS !</span>
    </div>
</div>