<div class="search-ps animated bounceInDown">

    <form novalidate>

        <header class="header">
            <h1 class="titre">Rechercher</h1>
        </header>

        <div class="content">

            <select data-ng-model="type"
                    data-ng-options="value as value for value in optionsType">
            </select>

            <select data-ng-model="profession"
                    data-ng-options="value.id as value.libelle for value in optionsProfession">
            </select>

            <input placeholder="Nom" data-ng-model="nom">

            <input placeholder="Acte" data-ng-model="acte">

            <input type="text" placeholder="Localisation" data-ng-model="localisation">

            <!--
            Par défaut ces éléments sont cachés
            -->
            <div
                data-ng-model="searchMoreOptions"
                data-ng-if="searchMoreOptions">

                <select data-ng-model="cv"
                        data-ng-options="value as value for value in optionsCv">
                </select>

                <select data-ng-model="honoraires"
                        data-ng-options="value as value for value in optionsHonoraires">
                </select>

                <select data-ng-model="sexe"
                        data-ng-options="value as value for value in optionsSexe">
                </select>

            </div>

            <!--
            Afficher plus d'options de résultats
            -->
            <div class="more-options">
                <a
                    data-ng-click="switchMoreOptions()"
                    href="">
                    {{moreOptionsText}}
                </a>
            </div>

        </div>

        <footer class="footer">
            <button type="submit" data-ng-click="searchPs()" class="btn large">
                Rechercher
            </button>
        </footer>

    </form>

</div>

<!--
Liste des résultats de la recherche
-->
<ul class="list-ps"
    data-ng-if="items.length > 0">

    <li class="results-infos"
        data-ng-if="items">

        <h4>{{items.length}} résultats correspondent à votre recherche</h4>
    </li>

    <li data-ng-repeat="item in items| orderBy:'numero':true ">

        <div class="header">

            <div class="honoraires">{{item.honoraire}}</div>

            <div class="cv {{item.cv}}"></div>
        </div>

        <div class="content">

            <h4 class="nom">Dr. {{item.prenom}} {{item.nom}} </h4>

            <div class="numero">{{item.numero}}</div>

            <address class="adresse">{{item.adresse}}</address>

            <a href="tel:{{item.telephone}}" class="telephone">{{item.telephone}}</a>

            <!--
            Redirige vers Google Maps. Lance l'application si installée sinon le navigateur.
            -->
            <a data-ng-href="https://www.google.fr/maps/dir/ma+position/{{item.adresse}}" target="_blank" class="itineraire">Itinéraire</a>

            <!--
            ngMap
            -->
            <map class="maps" center="{{item.adresse}}" zoom="14" disable-default-u-i="true">
                <marker position="{{item.adresse}}" title="Ici" visible="true"></marker>
            </map>
        </div>

        <footer class="actions">

            <button class="btn" data-ng-click="ajouterFavori($index)">
                <img data-ng-src="{{item.favori}}" class="icon"/>
            </button>

            <button class="btn" data-ng-click="planifierRdv($index)">
                <img src="img/calendar-blue.svg" class="icon"/>
            </button>

        </footer>

    </li>

</ul>