<!--
Filtre rapide
-->
<ul
    data-ng-if="items.length > 0"
    class="list-menu">
    <li data-ng-repeat="menu in menus" data-ng-click="selectItem($index)" data-ng-class="{active: $index === selectedIndex}">
        <a href="{{menu.url}}">
            <img data-ng-src="{{menu.image}}">
        </a>
    </li>
</ul>

<!--
Liste des RDV
-->
<ul class="list-rdv" data-ng-repeat="(date, value) in items | filter : {etat:query, archive:false} | groupBy :'dateJour' | orderBy:'dateJour':true">

    <li class="date">{{date|date:'dd/MM/yyyy'}}</li>

    <li data-ng-repeat="item in value| orderBy:'date'">

        <div class="avatar" style="background-image:url({{item.beneficiaire.avatar}})"></div>

        <a href="#rdv-detail/{{item.id}}">

            <div class="header">

                <div class="heure">{{item.date| date:"HH:mm"}}</div>

                <div class="etat {{item.etat}}"></div>

            </div>

            <div class="content">

                <h4 class="titre">{{item.ps.titre}}</h4>

            </div>
        </a>
    </li>
</ul>

<!--
Page de démarrage si l'utilisateur n'a pas encore enregistré aucun RDV
-->
<div
    data-ng-if="items.length === 0"
    class="demarrage animated fadeIn">
    <h1>
        Créez votre premier rendez-vous en <a data-ng-click="createEvenement()" href="">cliquant ici</a>
    </h1>
</div>

<!--
Bouton flottant : créer un nouvel évènement
-->
<button class="btn flottant" data-ng-click="createEvenement()">
    <img src="img/create-white.svg">
</button>

<!--
Reçoit les notifications
-->
<notification data-ng-translude></notification>