<div class="detail-rdv animated bounceInDown">

    <header class="header">

        <div class="avatar" style="background-image:url({{item.beneficiaire.avatar}})"></div>

        <div class="date" data-ng-click="changeDate()">
            {{item.date| date:"dd/MM/yyyy"}}
        </div>

        <div class="heure" data-ng-click="changeDate()">
            {{item.date| date:"HH:mm"}}
        </div>

    </header>

    <!--
    Etat et détail du remboursement
    -->
    <div class="remboursement {{item.remboursement.etat}}">

        <div class="etat">
            <div class="{{item.remboursement.etat}}"></div>
        </div>

        <!--
        Date du remboursement
        -->
        <div
            data-ng-if="item.remboursement.etat === true"
            class="date">Remboursé le {{item.remboursement.date| date:'dd/MM/yyyy'}}</div>

        <!--
        Montant du remboursement
        -->
        <div
            data-ng-if="item.remboursement.etat === true"
            class="montant">

            {{item.remboursement.montant| currency:'':2}} €

            <a data-ng-click="showDetail()" href="">
                <img data-ng-src="img/help-white.svg">
            </a>
        </div>

        <!--
        Remboursement en attente
        -->
        <div
            data-ng-if="item.remboursement.etat === false"
            class="message">

            <!--
            La date du RDV est supérieure à la date du jour
            -->
            <div
                data-ng-if="item.date > dateLimite">
                En attente
            </div>

            <!--
            La date du RDV est passé
            -->
            <div
                data-ng-if="item.date < dateLimite">

                <span data-ng-if="item.date + item.delaiRemboursement < dateLimite">
                    Délai prévisionnel dépassé
                </span>

                <span data-ng-if="item.date + item.delaiRemboursement >= dateLimite">
                    Prévu le {{item.date + item.delaiRemboursement| date:'dd/MM/yyyy'}}
                </span>
            </div>

        </div>

        <!--
        Icône qui renvoie vers la popup de contact
        -->
        <div
            data-ng-if="item.date + item.delaiRemboursement < dateLimite && item.etat === false"
            class="contact">
            <a data-ng-click="showContact()" href="">
                <img data-ng-src="img/help-white.svg">
            </a>
        </div>

    </div>

    <div class="content">

        <h4 class="titre">{{item.ps.titre}}</h4>

        <div class="numero">{{item.ps.numero}}</div>

        <address class="adresse">{{item.ps.adresse}}</address>

        <a href="tel:{{item.ps.telephone}}" class="telephone">{{item.ps.telephone}}</a>

        <!--
        Redirige vers Google Maps. Lance l'application si installée sinon le navigateur.
        -->
        <a data-ng-href="https://www.google.fr/maps/dir/ma+position/{{item.ps.adresse}}" target="_blank" class="itineraire">Itinéraire</a>

        <blockquote class="notes">
            <h4>Notes</h4>
            <textarea data-ng-model="item.notes" placeholder="Ajoutez quelques notes...">{{item.notes}}</textarea>
        </blockquote>

        <!--
        N'est affiché que si la date du RDV est passé
        -->
        <div
            data-ng-if="item.date <= dateLimite"
            class="informations">

            <button
                data-ng-click="showInformations()"
                class="btn">Informations complémentaires
            </button>
        </div>

    </div>

    <footer class="footer">

        <button class="btn warning" data-ng-click="duplicateEvenement()">

            <embed src="img/add.svg" type="image/svg+xml" id="btn-1" onload="svgFill(this.id, 'Core', 'yellowgreen')" class="icon" />
        </button>

        <button class="btn success" data-ng-click="archiveEvenement()">

            <embed src="img/archive.svg" type="image/svg+xml" id="btn-2" onload="svgFill(this.id, 'Core', 'gray')" class="icon" />
        </button>

        <button class="btn danger" data-ng-click="deleteEvenement()">

            <embed src="img/delete.svg" type="image/svg+xml" id="btn-3" onload="svgFill(this.id, 'Core', 'red')" class="icon" />
        </button>

    </footer>

</div>

<!--
Reçoit les popup : voir directives.js
-->
<popup data-ng-translude></popup>

<script>
            /*
             * Permet de changer la couleur de remplissage d'un élément du fichier SVG.
             *
             * @idSVG : id de l'image
             * @idElement : id de l'élement à colorer dans le SVG
             * @color : couleur à utiliser
             */
            var svgFill = function (idSVG, idElement, color){

                var svg = document.getElementById(idSVG);

                var element = svg.getSVGDocument().getElementById(idElement);

                element.setAttribute("fill", color);
            };
</script>