<ul class="settings">
    <li><a href="#/account">Mon compte</a></li>
    <li>
        <label data-ng-click="switchNotifications()" for="notifications">Notifications
            <input data-ng-checked="checked" type="checkbox" name="notification"/>
        </label>
    </li>
    <li><a data-ng-click="simulerNotification()" href="">Simuler une notification</a></li>
    <li><a data-ng-click="simulerPaiements()" href="">Simuler des paiements </a></li>
    <li><a data-ng-click="clearCache()" href="">Réinitialiser</a></li>
    <li><a href="#/about">A propos</a></li>
</ul>

<!--
Reçoit les notifications
-->
<notification data-ng-translude></notification>