<!--
Notification qui se place en haut de l'écran à la manière de l'OS Android - qui soit dit au
passage est le meilleur OS de tout l'Univers ;)
-->
<div class="notification animated fadeIn">
    <a data-ng-click="onNotificationClick()" href="">

        <header class="header">

            <div class="avatar" style="background-image: url({{notification.icon}});">
            </div>
        </header>

        <div class="content">

            <h4 class="titre">{{notification.titre}}</h4>

            <p class="message">{{notification.body}}</p>
        </div>
    </a>
</div>